<nav id="main-desktop-nav" class="top-bar" role="navigation">
	<div class="top-bar-left">
   	<ul class="menu">
      {{#if session.isAuthenticated}}
        <li>{{#link-to 'play'}}Play{{/link-to}}</li>
      {{/if}}
    </ul>
   </div>
   <div class="top-bar-right">
    <ul class="menu">
      {{#unless session.isAuthenticated}}
        <li><a href="#" data-reveal-id="login_modal">Login</a></li>
        <li><a href="#" data-reveal-id="register_modal">Register</a></li>
      {{/unless}}
      {{#if session.isAuthenticated}}
        <li><a href="#" {{action 'logout'}}>Logout</a></li>
      {{/if}}
    </ul>
  </div>
</nav>


<!--
<div id="login_modal" class="reveal-modal tiny" data-reveal aria-hidden="true" role="dialog">
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  <form id="login_form">
    <fieldset>
      <legend>Welcome Back!</legend>
      <div class="row collapse">
        <div class="small-1 medium-2 large-1 columns">
          <span class="prefix has-tip" data-tooltip aria-haspopup="true" title="The login must be between 8 and 255 characters in length.">{{fa-icon "info"}}</span>
        </div>
        <div class="small-11 medium-10 large-11 columns">
          <input name="login" type="text" placeholder="Login">
        </div>
      </div>
      <div class="row collapse">
        <div class="small-1 medium-2 large-1 columns">
          <span class="prefix has-tip" data-tooltip aria-haspopup="true" title="The password must be between 8 and 50 characters in length.">{{fa-icon "info"}}</span>
        </div>
        <div class="small-11 medium-10 large-11 columns">
          <input name="password" type="password" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <input id="remember" name="remember" type="checkbox"><label for="remember">Remember Me</label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <button {{action 'processLoginForm'}} class="button primary">Login</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div id="register_modal" class="reveal-modal tiny" data-reveal aria-hidden="true" role="dialog">
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  <form id="register_form">
    <fieldset>
      <legend>Join Us!</legend>
      <div class="row collapse">
        <div class="small-1 medium-2 large-1 columns">
          <span class="prefix has-tip" data-tooltip aria-haspopup="true" title="Your login is used only for authentication and is not displayed to other players or staff. It must be between 8 and 255 characters in length.">{{fa-icon "info"}}</span>
        </div>
        <div class="small-11 medium-10 large-11 columns">
          <input name="login" type="text" placeholder="Login">
        </div>
      </div>
      <div class="row collapse">
        <div class="small-1 medium-2 large-1 columns">
          <span class="prefix has-tip" data-tooltip aria-haspopup="true" title="Your password must be between 8 and 50 characters in length.">{{fa-icon "info"}}</span>
        </div>
        <div class="small-11 medium-10 large-11 columns">
          <input name="password" type="password" placeholder="Password">
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 medium-2 large-1 columns">
          <span class="prefix has-tip" data-tooltip aria-haspopup="true" title="Must match password entered above.">{{fa-icon "info"}}</span>
        </div>
        <div class="small-10 medium-10 large-11 columns">
          <input name="password_confirmation" type="password" placeholder="Confirm Password">
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 medium-2 large-1 columns">
          <span class="prefix has-tip" data-tooltip aria-haspopup="true" title="This is how you are known to players and staff. Must be between 2 and 20 characters in length.">{{fa-icon "info"}}</span>
        </div>
        <div class="small-10 medium-10 large-11 columns">
          <input name="name" type="text" placeholder="PlayerName">
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 medium-2 large-1 columns">
          <span class="prefix has-tip" data-tooltip aria-haspopup="true" title="Your email is used for password and account recovery as well as communications from staff.">{{fa-icon "info"}}</span>
        </div>
        <div class="small-10 medium-10 large-11 columns">
          <input name="email" type="text" placeholder="Email">
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <button type="submit" class="button primary">Register</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
-->