<fieldset>
  <legend>Join Us!</legend>
  <div class="row collapse">
    <div class="input-group">
      <span class="input-group-label has-tooltip" data-tooltip aria-haspopup="true" data-disable-hover='false' title="The login must be between 8 and 255 characters in length, and can only be made up of ASCII characters. It will never be shown to other players.">{{fa-icon "info"}}</span>
      {{input type="text" placeholder="Login" class="input-group-field" name="login" value=loginValue}}
    </div>
    <div class="input-group">
      <span class="input-group-label has-tooltip" data-tooltip aria-haspopup="true" data-disable-hover='false' title="The password must be between 8 and 50 characters in length.">{{fa-icon "info"}}</span>
      {{input type="password" placeholder="Password" class="input-group-field" name="login" value=passwordValue}}
    </div>
    <div class="input-group">
      <span class="input-group-label has-tooltip" data-tooltip aria-haspopup="true" data-disable-hover='false' title="Must match the password provided above">{{fa-icon "info"}}</span>
      {{input type="password" placeholder="Confirm Password" class="input-group-field" name="login" value=passwordConfirmationValue}}
    </div>
  </div>
  <div class="row">
    <label>
      {{input type="checkbox" checked=rememberPlayer}}
      <span class="has-tip" data-tooltip aria-haspopup="true" data-disable-hover='false' title="Only use this on trusted devices as the session will remain active for up to 14 days.">Remember Me</span>
    </label>
  </div>
  <div class="row">
    <label>
      {{input type="checkbox" checked=tosAccepted}}
      Agree to <a href="#" data-toggle="tos_modal">Terms of Service</a>
    </label>
  </div>
</fieldset>
