{{component modal confirm=(action "confirm") cancel=(action "cancel")}}

<button class="close-button" aria-label="Close reveal" type="button" {{action "cancel"}}>
  <span aria-hidden="true">&times;</span>
</button>

<div class="row">
{{#if confirmText}}
  <button class="button" disabled={{isInvalid}} {{action "confirm"}}>{{confirmText}}</button>
{{/if}}

{{#if cancelText}}
  <button class="button" {{action "cancel"}}>{{cancelText}}</button>
{{/if}}
</div>